set showmode
set incsearch
set ignorecase
set smartcase
set diffopt+=iwhite,icase
set number
set nowrap
set autoindent
set clipboard=unnamedplus,unnamed
set hlsearch
set cursorline
set laststatus=2
set ruler
set autoread
set autochdir
set surround
set visualbell
set ideajoin
syntax enable

" Readline bindings in insert mode
imap <C-a> <C-o>0
imap <C-e> <C-o>$
imap <C-f> <C-o>l
imap <C-b> <C-o>h
imap <C-n> <C-o>j
imap <C-p> <C-o>k
imap <C-v> <C-o><C-f>
imap <M-v> <C-o><C-b>
imap <M-f> <C-o>w
imap <M-b> <C-o>b

let mapleader = " "
let maplocalleader = "\\"
" leaderless keys
map g,    :action JumpToNextChange<CR>
map g;    :action JumpToLastChange<CR>
map zr    :action ExpandAllRegions<CR>
map zm    :action CollapseAllRegions<CR>
map <c-i>    :action Forward<CR>
map <c-o>    :action Back<CR>


" root leader keys
map <leader><Space>    :action GotoAction<CR>
map <leader><tab>    :action VimFilePrevious<CR>
map <leader>'    :action Terminal.OpenInTerminal<CR>
map <leader>!    :action Terminal.OpenInTerminal<CR>
map <leader>*    :action ShowUsages<CR>

" a - application
map <leader>ad :action ActivateDatabaseToolWindow<cr>
map <leader>ac :action ActivateDatabaseConsoleToolWindow<cr>
map <leader>ap    :action WelcomeScreen.Plugins<CR>
map <leader>ab    :action ShowProcessWindow<CR>
map <leader>al    :action ActivateEventLogToolWindow<CR>

" b - buffers
map <leader>b0    :action GoToTab1<CR>
map <leader>b$    :action GoToLastTab<CR>
map <leader>bb    :action Switcher<CR>
map <leader>bd    :action CloseContent<CR>
map <leader>bn    :action NextTab<CR>
map <leader>bc    ggVGp<CR>
map <leader>bp    :action PreviousTab<CR>
map <leader>bu    :action ReopenClosedTab<CR>
map <leader>br    :action RenameFile<CR>
map <leader>bx    :action CloseAllEditors<CR>
map <leader>by    :%y<CR>
map <leader>bo    :action CloseAllEditorsButActive<CR>
map <leader>bN    :action NewElement<CR>

" d - debug
map <leader>db    :action ViewBreakpoints<CR>
map <leader>dt    :action Debugger.RemoveAllBreakpoints<CR>
map <leader>dT    :action Debugger.RemoveAllBreakpointsInFile<CR>
map <leader>dD    :action DebugClass<CR>
map <leader>dd    :action Debug<CR>
map <leader>dr    :action ChooseDebugConfiguration<CR>

" f - files
map <leader>ff    :action OpenFile<CR>
map <leader>fh    :action LocalHistory.ShowHistory<CR>
map <leader>fS    :action SaveAll<CR>
map <leader>fN    :action NewElement<CR>

" g - git
map <leader>gb    :action Git.Branches<CR>
map <leader>gp    :action Vcs.Push<cr>
map <leader>gc    :action Git.CompareWithBranch<CR>
map <leader>gh    :action Vcs.ShowTabbedFileHistory<CR>
map <leader>gs    :action Vcs.Show.Local.Changes<CR>
map <leader>gu    :action Vcs.UpdateProject<CR>
map <leader>ga    :action Annotate<CR>
map <leader>gl    :action Vcs.Show.Log<CR>
map <leader>gr    :action Git.ResolveConflicts<CR>

" h - help/hierarchy
map <leader>hc      :action CallHierarchy<CR>
map <leader>ht      :action TypeHierarchy<CR>

" j - jump
map <Leader>jm    vat<Esc>
map <Leader>jM    vato<Esc>
map <Leader>jj    :action AceLineAction<CR>
map <Leader>jf    :action AceAction<CR>
map <Leader>jw    :action AceWordForwardAction<CR>
map <Leader>jb    :action AceWordBackwardsAction<CR>

" m - localleader
map <leader>mf    :action ReformatCode<CR>
map <leader>mx    :action ShowErrorDescription<CR>
map <leader>m' :action :cursive.repl.actions/jump-to-repl<CR>
map <leader>me :action :cursive.repl.actions/run-top-sexp<CR>
map <leader>mb :action :cursive.actions.paredit/barf-forwards<CR>
map <leader>mB :action :cursive.actions.paredit/barf-backwards<CR>
map <leader>ms :action :cursive.actions.paredit/slurp-forwards<CR>
map <leader>mS :action :cursive.actions.paredit/slurp-backwards<CR>
map <leader>mk :action :cursive.actions.paredit/kill-sexp<CR>
map <leader>mr :action :cursive.actions.paredit/raise<CR>
map <leader>mj :action :cursive.actions.paredit/join<CR>
map <leader>mt :action :cursive.actions.paredit/toggle<CR>
map <leader>ml :action :cursive.repl.actions/load-file<CR>

map <leader>rg    :reg<CR>
map <Leader>xs :action ConvertIndentsToSpaces<cr>

" n - navigate
map <leader>n[    :action EditorCodeBlockStart<CR>
map <leader>n]    :action EditorCodeBlockEnd<CR>

" p - projects
map <leader>pc      :action CompileDirty<CR>
map <leader>po    :action ImportProject<CR>
map <leader>pi    :action ImportModule<CR>
map <leader>pm    :action MakeModule<CR>
map <leader>pI    :action InvalidateCaches<CR>
map <leader>pp    :action ManageRecentProjects<CR>

" q - quit
map <leader>qq    :action CloseProject<CR>
map <leader>qQ    :action Exit<CR>
map <leader>qs    :action SaveAll<CR>:action CloseProject<CR>
map <leader>qr    :action IDEARestart<CR>

" r - run / refactoring
map <leader>rr    :action Run<CR>
map <leader>rd    :action ChooseRunConfiguration<CR>
map <leader>ri      :action ImplementMethods<CR>
map <leader>rt      :action Refactorings.QuickListPopupAction<CR>

" t - toggle
map <leader>ti    :action EditorToggleShowIndentLines<CR>
map <leader>tl    :action EditorGutterToggleGlobalSoftWraps<CR>
map <leader>tn    :action EditorGutterToggleGlobalLineNumbers<CR>
map <leader>tw    :action EditorToggleShowWhitespaces<CR>
map <leader>tg    :action EditorToggleShowGutterIcons<CR>
map <leader>tp    :action TogglePowerSave<CR>
map <leader>tm    :action ChangeView<CR>
map <leader>ts    :nohlsearch<CR>

" w - window
map <leader>wv    :action SplitVertically<CR>
map <leader>ws    :action SplitHorizontally<CR>
map <leader>wd    :action VimWindowClose<CR>
map <leader>wH    :action VimWindowLeft<CR>10@:
map <leader>wh         :action VimWindowLeft<CR>
map <leader>wJ    :action VimWindowDown<CR>10@:
map <leader>wj         :action VimWindowDown<CR>
map <leader>wK    :action VimWindowUp<CR>10@:
map <leader>wk       :action VimWindowUp<CR>
map <leader>wL    :action VimWindowRight<CR>10@:
map <leader>wl          :action VimWindowRight<CR>
map <leader>wo    :action NextProjectWindow<CR>
map <leader>wS    :action SplitHorizontally<CR>:action VimWindowDown<CR>
map <leader>wV    :action SplitVertically<CR>:action VimWindowRight<CR>
map <leader>ww    :action VimWindowNext<CR>

" z - zoom
map <leader>z+    :action EditorIncreaseFontSize<CR>
map <leader>z-    :action EditorDecreaseFontSize<CR>
map <leader>z0    :action EditorResetFontSize<CR>
